/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilos do cabeçalho e menu */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed; /* Fixa o cabeçalho no topo */
    width: 100%; /* Ocupa toda a largura da tela */
    top: 0; /* Coloca o cabeçalho no topo */
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remove o espaço entre o cabeçalho e a lista de links */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos do conteúdo */
section {
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    margin-top: 80px; /* Adiciona espaço acima do conteúdo para evitar que ele fique oculto sob o cabeçalho */
}
