body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.container {
    min-height: 100vh; /* Adicionado para ocupar toda a altura da pÃ¡gina */
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}
/* ..menu e social. */
.menu, .social {
    width: 100%;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: auto; /* Faz com que a .menu vÃ¡ atÃ© o final da .container */
}

/* Restante do seu cÃ³digo CSS... */


.menu a, .social a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.menu img {
    margin-right: 10px; /* Adiciona espaÃ§o entre a imagem e o texto */
}

.menu a {
    margin: 0 10px;
}

.content {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
/* O resto do seu cÃ³digo CSS permanece o mesmo */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    z-index: 999;
}
/* ... */
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.profile-image {
    background-image: url('sua-foto.jpg'); /* Substitua 'sua-foto.jpg' pelo caminho da sua foto */
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profile-text {
    max-width: 75%; /* Define a largura mÃ¡xima para o texto */
}
/* ... */
/* ..css do contatos. */
.contact-table {
    width: 100%;
}
.contact-table td {
    vertical-align: top;
    border: none; /* Removendo as bordas */
}
.contact-table .map-cell {
    width: 50%; /* Reduzindo o tamanho do mapa para 30% */
}
.contact-table .map-cell iframe {
    width: 100%;
    height: 300px; /* Adicionando altura de 300px ao mapa */
    border: none;
}
.contact-table .address-cell {
    width: 50%; /* Ajustando a largura da cÃ©lula de endereÃ§o */
}
.contact-table p {
    margin: 0;
    font-size: 16px;
}
.contact-table a {
    color: #333;
    text-decoration: none;
}
/* ..stilo do link da rede social. */
.social {
    display: flex;
    justify-content: center;
}
.social a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 10px;
}
.icone-experiencia {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Estilos para o formulÃ¡rio */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

label, input, textarea {
    display: block;
    margin-bottom: 5px; /* Reduzi o espaÃ§o entre os elementos */
}

input, textarea {
    width: 100%;
    padding: 4px; /* Reduzi o preenchimento */
    font-size: 14px;
}

/* BotÃ£o de envio */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilizar o botÃ£o quando o cursor estÃ¡ sobre ele */
input[type="submit"]:hover {
    background-color: #45a049;
}
